._input__exportName {
  color: green;
}

._input__exportName:hover {
  color: red;
}

._input__\:\:\:\: {
  color: rebeccapurple;
}

._input__\31 a2b3c {
  color: gainsboro;
}

._input__\32 {
  color: aqua;
}

._input__ğŒ† {
  color: fuchsia;
}

@media (max-width: 520px) {
  /* selector doubled to increase specificity */
  ._input__exportName._input__exportName {
    color: darkgreen;
  }

  ._input__newExport {
    color: blue;
  }
}

:export {
  2: _input__2;
  exportName: _input__exportName;
  ::::: _input__::::;
  1a2b3c: _input__1a2b3c;
  ğŒ†: _input__ğŒ†;
  newExport: _input__newExport;
}
