._input__exportName {
  color: green;
}

._input__exportName:hover {
  color: red;
}

._input__\:\:\:\: {
  color: rebeccapurple;
}

@media (max-width: 520px) {
  /* selector doubled to increase specificity */
  ._input__exportName._input__exportName {
    color: darkgreen;
  }

  ._input__newExport {
    color: blue;
  }
}

:export {
  exportName: _input__exportName;
  ::::: _input__\:\:\:\:;
  newExport: _input__newExport;
}
