:local(.exportName) {
  color: green;
}

:local(.exportName):hover {
  color: red;
}

:local(.\:\:\:\:) {
  color: rebeccapurple;
}

@media (max-width: 520px) {
  /* selector doubled to increase specificity */
  :local(.exportName):local(.exportName) {
    color: darkgreen;
  }

  :local(.newExport) {
    color: blue;
  }
}
